
#errorTooLong {
  background-color: #fcecd1;
  width: 100%;
  padding-bottom: 0.1em;
}

#errorNothing {
  background-color: #fcecd1;
  width: 100%;
  padding-bottom: 0.1em;
}

#msgNothing {
border: 0.2em solid red;
width: 35em;
margin: auto;
padding: 0.2em;
color: red;
}


#msgTooLong {
  border: 0.2em solid red;
  width: 35em;
  margin: auto;
  padding: 1em;
  color: red;
}

.hidden {
  display: none;
}
