/*_______________________________________
 * STYLING PUBLISHED TWEETS|
 *______________________________________|
 */

#avatarInfo {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

#handler {
  padding-right: 0.5em;
  opacity: 60%;
  font-size: 0.90em;
}

#name {
  padding-left: 0.5em;
}

#timeOfTweet {
  padding-left: 1.5rem;
  font-size: 0.90rem;
}

#threeIcons {
  padding-bottom: 1em;
  padding-right: 1em;

}
 
i {
  margin-left: 0.5em;
}

i:hover {
  cursor: pointer;
  color: #4056A1;
  text-shadow: 2.5px 2.5px #c5dcffb1;
}

.userInformation {
  display: flex;
  justify-content: space-between;
}

.postInfoAndIcons {
  display: flex;
  justify-content: space-between;
}

.publicTweets {
  background-color: #fcecd1;
  border: 4px solid #fcecd1;
  border-bottom-width: 1.5em;
}

.boxedTweet {
border: 4px solid rgba(38, 17, 10, 0.673);
margin-left: 6em;
margin-right: 6em;
margin-bottom: 1.5em;
margin-top: 1em;
padding-top: 0.5em;
padding-bottom: 0;

}

.boxedTweet:hover {
  box-shadow: 10px 10px #cfc1b2;
}

#tweetLine {
  word-wrap: wrap;
  overflow-wrap: break-word;
  border-bottom: 4px solid rgba(38, 17, 10, 0.673);
  padding-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}

