#textArea {
  border: none;
  border-bottom: 4px solid rgba(38, 17, 10, 0.673);
  background-color: #fcecd1;
  display: block;
  margin-top: 20px;
  width: 35em;
}

.new-tweet {
  background-color: #fcecd1;
  width: 100%;
  padding-top: 30px;
}


.form {
  display: block;
  margin-left: 150px;
  padding-bottom: 10px;
}

.inputAndFeedback {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#tweetButton {
background-color:#4056A1;
color: white;
box-shadow: 2px 2px #4056A1;
}

#tweetButton:hover {
  cursor: pointer;
}

.counter {
  margin-right: 20%;
}

.counter.counterUnderZero {
  color: red;
}

#textArea::-webkit-input-placeholder {
  font-weight: bold;
  opacity: 30%;
}

